.navbar-custom {
        background-color: rgb(252, 239, 242);
        border-bottom: 5px solid rgb(255, 194, 219);
}



.nav-item .nav-link {
        color: rgb(205, 13, 93);
        text-decoration: none;
}


.nav-item {
        background-color:  transparent;
        transition: 0.1s linear;
        margin: 0px;
        border-radius: 10px;
}

.nav-item:hover {
        background-color:  rgb(205, 13, 93) ;
        transition: all 0.2s linear;
}

.nav-item:hover .nav-link{
        color: white;
        transition: 0.2s linear;
}

.nav .btn-default {
        
        color: rgb(205, 13, 93);
        border: 2px solid rgb(205, 13, 93);
        transition: all 0.1s linear;
}

.nav .btn-default:hover, .nav .btn-default:active:focus{
        background-color:  rgb(205, 13, 93);
        color: white;
        border: 2px solid rgb(205, 13, 93);
        transition: all 0.2s linear;
}

.nav .form-control {
        box-shadow: none;
}


@keyframes welcome_move{
        
        from{
                transform: translateX(-50%);
                opacity: 0;
                
        } to {
                transform: translateX(0%);
                opacity: 1;
        }
}

.header-box{
        height: 100vh;
}

.welcome {
        font-size: 10vmin;
        text-shadow: 3px 3px 3px rgb(181, 179, 179);
        animation: welcome_move 1.5s -0.5s ease forwards;

}

.info{
        font-size: 4vmin;
        text-shadow: 2px 2px 2px rgb(224, 223, 223);
        animation: welcome_move 1.5s ease forwards;
}